*.daidir
vsim/output.txt
vsim/*.tb
vsim/*.daidir
vsim/csrc
vsim/ucli.key
vsim/*.vpd
vsim/*.vcd
vsim/*.tbi
vsim/*.fst
vsim/*.jou
vsim/*.log
vsim/*.out
vsim/isa
vsim/c_tests
vsim/small
scripts/__pycache__
test_results
build